:root {
  --primary: #3349ff;
  --primary-light: rgba(51, 71, 255, 0.225);
  --secondary: #f04200;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 10px;
}
p,
span {
  font-size: 1.4rem;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

body,
html,
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button,
b {
  margin: 0px;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

.sc1::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.sc1::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.sc1::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border-radius: 10px;
}
